<h1>Welcome to the NgRx Tutorial Application, {{name$ | async}}!</h1>

From:<br>
<ul>
  <li>
    <a href="https://www.intertech.com/Blog/ngrx-tutorial-quickly-adding-ngrx-to-your-angular-6-project/">
    NgRx Tutorial: Quickly Adding NgRx to Your Angular 6 Project</a>
  </li>
  <li>NgRx Tutorial: Actions, Reducers and Effects</li>
  <li>NgRx Tutorial: Accessing State</li>
  <li><a href="https://github.com/IntertechInc/ngrx-tutorial/blob/master/src/app/app.module.ts">
    Git Hub</a></li>
</ul>
<hr/>
<p>
  <a routerLink="/ships" routerLinkActive="active">View Starships</a>
</p>
